@charset "ISO-8859-1";

html,body {
    min-height: 100px;
}
.container {
    min-height: 100px;
    margin:0px;
    padding:0px;
}


.menu {
	padding-top: 25px;
}

footer-nav {
    /* margin-left: 70px; */
    text-align:  right;
    list-style: none;
}

.form-group {
    padding-bottom: 30px;

}

.font {
	font-size:25px;
}


.header {
    height: 105px;
    background-color: #45b1cb !important;
}


.logo {
	margin-bottom: 11px !important;
    margin-left: 15px !important;
    padding-top: 7px !important;
    height: 100px !important;
}

.text-center {
	font-size:45px !important;
	padding-top:15px;
}





 .footer {
   background-color:  #45b1cb;
    position: absolute;
    height: auto;
    color: #fff;
    bottom: 0;
    width: 100%;
    padding: 0px !important;
    
  
}

.details p {
	font-size: 10px !important:
}
